@import "http://scdh.wwu.de/alea/resources/font.css";

teiHeader { display: none }


body {
    direction: rtl;
}


text > * > listWit {
    direction: ltr;
}

text > * > listWit > * > witness {
    display: block
}

witness > abbr {
    font-weight: bold;
    -oxy-display-tags: none;
}

text > * > listWit > head {
    display: block;
    font-weight: bold;
    font-size: 2em;
}

text > * > listWit > listWit > head {
    display: block;
    font-weight: bold;
    font-size: 1.5em;
}


p {
    padding: 0 1em ;
}

lg > head {
    color : red ;
    text-align: center;
    font-weight: bold ;
    display: block ;
}

lg > head > title, lg > head > title > l {
    display: inline;
}

lg {
    padding: 1em ;
}

l { 
    display: block ;
}

app > lem > l, app > rdg > l {
    display: inline-block;
    -oxy-display-tags: none;
}

l > seg {
    margin-right: 2em
}

caesura {
    visibility: hidden ;
    margin-right: 1em; 
}

app,lem {
    -oxy-display-tags: none;
    color:gray;
}

app > rdg {
    display: none ;
}


note {
    display: none ;
}

choice {
    -oxy-display-tags: none;
    color: gray;
}

corr {
    -oxy-display-tags: none;
    direction:inherit !important;
}

choice > sic {
    display: none;
}

sic {
    -oxy-display-tags: none;
    color:gray;
}

unclear {
    color: gray;
    -oxy-display-tags: none;
}

choice > unclear {
    display: none;
}

choice > unclear:first-child {
    display: inline;
}

gap {
    content: "[...]";
    -oxy-display-tags: none;
}
