teiHeader { display: none }


@font-face {
    font-family:"Arabic Typesetting";
    /*The location of the loaded TTF font must be relative to the CSS*/
    src:url("arabt100.ttf");
}


@font-face {
    font-family:"Doulos SIL";
    /*The location of the loaded TTF font must be relative to the CSS*/
    src:url("DoulosSIL-R.ttf");
}

body {
    font-family:"Arabic Typesetting";
    direction: rtl;
}

lg > head > title {
    color : red ;
    text-align: center;
    font-weight: bold ;
    display: block ;
}

lg {
    padding: 1em ;
}

l { 
    display: block ;
}

app > lem > l, app > rdg > l {
    display: inline-block;
    -oxy-display-tags: none;
}

l > seg {
    margin-right: 2em
}

caesura {
    visibility: hidden ;
    margin-right: 1em; 
}

app,lem {
    -oxy-display-tags: none;
    color:gray;
}

app > rdg {
    display: none ;
}


note {
    display: none ;
}

choice {
    -oxy-display-tags: none;
    color: gray;
}

corr {
    -oxy-display-tags: none;
    direction:inherit !important;
}

sic {
    display: none;
}

unclear {
    color: gray;
    -oxy-display-tags: none;
}

gap {
    content: "[...]";
    -oxy-display-tags: none;
}
