@namespace xml "http://www.w3.org/XML/1998/namespace";

* {
    direction: inherit !important;
}

body {
    direction: rtl !important;
}

[xml|lang="ar"] {
    direction: rtl !important;
}

[xml|lang="de"] {
    direction: ltr !important;
}

[xml|lang="en"] {
    direction: ltr !important;
}

listBibl {
    display: block;
    direction: ltr;
}

listBibl > * {
    display: block;
}

listBibl > head {
    font-size: xx-large;
    font-weight: 900;
}

listBibl > listBibl > head {
    font-size: larger;
}

bibl[corresp]:before {
    -oxy-link: oxy_url("../samples/biblio.xml") attr(corresp);
    content: "‪" attr(corresp) ": " "‬";
    text-decoration: underline;
    font-weight: 400;
}

note {
        display: none;
}

witDetail {
    display: none;
}