lg[met] {
  content:
    " [Metre "oxy_combobox(edit, "@met", editable, true)"] ";
}

listBibl > bibl:before {
    content:
    " #"
    oxy_textfield(edit, "@xml:id")
    ": "
}

lem:before, rdg:before, witDetail:before {
  background-color: inherit;
  color: inherit;
  content:
    " ["
    oxy_popup(edit, "@wit")
    "] ";
}