@namespace xml "http://www.w3.org/XML/1998/namespace";

lg[met] {
  content:
    " [Metre "oxy_combobox(edit, "@met", editable, true)"] ";
}

listBibl > bibl:before {
    content:
    " #"
    oxy_textfield(edit, "@xml:id")
    ": "
}

lem:before, rdg:before, witDetail:before {
  background-color: inherit;
  color: inherit;
  content:
    " ["
    oxy_popup(edit, "@wit")
    "] ";
}

witness:before {
    content: attr(xml|id) ": " oxy_textfield(edit, "@facs") !important;
    text-decoration: underline;
    font-weight: 400;
    margin-right: 0.5em;
}