@import "font.css";
@import "common.css";

teiHeader { display: none }

body {
    direction: rtl;
}


text > * > listWit {
    direction: ltr;
}

text > * > listWit > * > witness {
    display: block
}

witness > choice > expan {
    -oxy-display-tags: none;
}

witness > choice > abbr {
    font-weight: bold;
    -oxy-display-tags: none;
}

witness > abbr {
    font-weight: bold;
    -oxy-display-tags: none;
}

witness > choice > abbr:after {
    font-weight: normal;
    content: " = "
}

text > * > listWit > head {
    display: block;
    font-weight: bold;
    font-size: 2em;
}

text > * > listWit > listWit > head {
    display: block;
    font-weight: bold;
    font-size: 1.5em;
}


p {
    padding: 0 1em ;
}

lg > head {
    color : red ;
    text-align: center;
    font-weight: bold ;
    display: block ;
}

lg > head > title, lg > head > title > l {
    display: inline;
}

lg {
    padding: 1em;
}

l { 
    display: block ;
}

app > lem > l, app > rdg > l {
    display: inline-block;
    -oxy-display-tags: none;
}

l > seg {
    margin-right: 2em
}

caesura {
    visibility: hidden ;
}

note {
    background-color: yellow;
    -oxy-display-tags: none;
}

app {
    display: inline ;
}

lem {
    color: green ;
    -oxy-display-tags: none;
}

rdg::before {
    content:'|';
}

rdg {
    color: blue ;
    -oxy-display-tags: none;
    direction:inherit !important;
}

choice {
    -oxy-display-tags: none;
}

witness > choice {
    color: black;
}

corr {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: green;
    -oxy-display-tags: none;
    direction:inherit !important;
}

sic {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
    -oxy-display-tags: none;
    direction:inherit !important;
}

gap {
    content: "[...]";
    -oxy-display-tags: none;
}

listBibl > bibl:before {
    content: concat("#", oxy_xpath("@xml:id"), ": ");
    text-decoration: underline;
    font-weight: 400;
}
