teiHeader { display: none }

@font-face {
    font-family:"Arabic Typesetting";
    /*The location of the loaded TTF font must be relative to the CSS*/
    src:url("arabt100.ttf");
}

body {
    font-family:"Arabic Typesetting";
    direction: rtl;
}

lg > head {
    color : red ;
    text-align: center;
    font-weight: bold ;
    display: block ;
}

lg {
    padding: 1em;
}

l { 
    display: block ;
}

app > lem > l, app > rdg > l {
    display: inline-block;
    -oxy-display-tags: none;
}

l > seg {
    margin-right: 2em
}

caesura {
    visibility: hidden ;
}

note {
    background-color: yellow;
    -oxy-display-tags: none;
}

app {
    display: inline ;
}

lem {
    color: green ;
    -oxy-display-tags: none;
}

rdg::before {
    content:'|';
}

rdg {
    color: blue ;
    -oxy-display-tags: none;
    direction:inherit !important;
}

choice {
    -oxy-display-tags: none;
}

corr {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: green;
    -oxy-display-tags: none;
    direction:inherit !important;
}

sic {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
    -oxy-display-tags: none;
    direction:inherit !important;
}

gap {
    content: "‪[...(" attr(reason) ")...]‬ ";
    -oxy-display-tags: none;
}
