@namespace xi "http://www.w3.org/2001/XInclude";
@namespace xml "http://www.w3.org/XML/1998/namespace";

teiHeader {
    display: block;
}

teiHeader > * {
    display: block;
}

fileDesc > * {
    display: block;
    margin: 1ex 0;
}

fileDesc > titleStmt > title {
    display: block;
    font-size:x-large;
}

sourceDesc > listWit:before {
    content: "Textzeugen für " attr(corresp) ", lauf. Nr. " attr(n) ":";
}

sourceDesc > listWit > witness {
    display:block;
}

sourceDesc > listWit > witness:before {
    content: attr(xml|id) ": " attr(facs) ", " attr(n);
    text-decoration: underline;
    font-weight: 400;
    margin-right: 0.5em;
}

fileDesc > sourceDesc {
    display: block;
}

teiHeader > xi|include {
    display:none !important;
}

revisionDesc > change {
    display: block;
    margin: 1ex 0;
}

revisionDesc > change:before {
    content: "Change on " attr(when) " by " attr(who) ":";
    text-decoration: underline;
    direction: ltr;
    margin-right: 0.5em;
}