note {
    display: inline-block;
    background-color: yellow;
    -oxy-display-tags: default;
}

witDetail {
    display: inline-block;
    background-color: yellow;
    -oxy-display-tags: default;
}
