*~
*.html

*.xpr

target
test/xspec/xspec
default-oxygen-frameworks
.classpath
.project
.settings

/frameworks/oxbytei
/frameworks/oxbytao
/frameworks/teip5alea/*.jar
/frameworks/teip5alea/seed-tei-transformations
/frameworks/teip5alea/alea-transformations
oxbytei_externalAuthorActions
oxbytao_externalAuthorActions

# ignore maven settings
settings.xml
